# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.db
*.sqlite3

# Node
node_modules/
dist/
.vite/

# ML
ml/data/raw/
ml/models/*.pth
backend/app/ml/models/*.pth

# Uploads & reports
backend/uploads/
backend/reports/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.code-workspace
